{{#unless filters.category}}
    {{> header/typer-allthings }}
{{/unless}}

<div class="container">
    <div class="blog-module">
        <div class="blog-filter-options">
            <div class="filter-group categories">

               {{#if filters.category}}
                   <h3>Category: <span>{{data.category.name}}</span></h3>
                   <a href="/">(Back to All)</a>
               {{else}}
                    <h3 class="filter-group-label">Categories</h3>
                    <div class="filters">
                        {{#each data.categories }}
                            {{#if postCount}}
                                <span class="filter">
                                    <input type="checkbox" id="cat-{{name}}" value="{{key}}" />
                                    <label class="b-tag" for="cat-{{name}}">{{name}} ({{postCount}})</label>
                                </span>
                            {{/if}}
                        {{/each}}
                    </div>
               {{/if}}
                
            </div>
            <div class="filter-group sort">
                <h2 class="filter-group-label">Sort By</h2>
            </div>
        </div>
        <div class="blog-posts js-shuffle">
            {{#each data.posts.results}}
            
            <figure class="post" data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" data-categories='{{categoryKeys categories}}' data-equalizer-watch>
                <figcaption>
                    <h3><a href="{{postUrl slug}}">{{{title}}}</a></h3>
                </figcaption>
                <p class="text-muted">
                    {{{categoryList categories prefix="<span>Posted in </span>"}}} on {{date publishedDate format='MMMM D YYYY'}}
                </p>
                <div class="post-brief">{{{content.brief}}}</div>
                <p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>
            </figure>
            {{/each}}
            <div class="sizer"></div>
        </div>
<!--
        <div class="blog-categories">
            <h2>Categories</h2>
            <div style="margin-top: 70px;" class="list-group">
                <a href="/blog" class="{{#unless filters.category}}active{{/unless}} list-group-item">All Categories</a> {{#each data.categories }}
                <a href="{{categoryUrl key}}" class="{{#ifeq key ../filters.category}}active{{else}}{{/ifeq}} false list-group-item">{{name}}</a> {{/each}}
            </div>
        </div>
        {{>pagination}}
-->
    </div>
</div>